In [1]:
n = input()

 Diane

In [2]:
n

'Diane'

In [5]:
number1=int(input())
number2 =int(input())
addition=number1+number2

 4
 daniel

ValueError: invalid literal for int() with base 10: 'daniel'

In [6]:
addition

'4Daniel'

In [8]:
number1="Daniel"
type(number1)

str

In [9]:
#complex
z=complex(2,3)
z

(2+3j)

In [4]:
# Calculator
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))

def addition():
    add = number1 + number2
    print("Addition =", add)

def subtraction(): 
    sub = number1 - number2
    print("Subtraction =", sub)

def division(): 
    if number2 != 0:
        div = number1 / number2
        print("Division =", div)
    else:
        print("Division by zero is not allowed.")

def multiply(): 
    mult = number1 * number2
    print("Multiplication =", mult)

def modulus(): 
    if number2 != 0:
        mod = number1 % number2
        print("Modulus =", mod)
    else:
        print("Modulus by zero is not allowed.")

# Call all functions
addition()
subtraction()
division()
multiply()
modulus()

Enter the first number:  8
Enter the second number:  2

Addition = 10.0
Subtraction = 6.0
Division = 4.0
Multiplication = 16.0
Modulus = 0.0

In [11]:
#conditionals 
number3 = int(input("Enter the number"))
if number3%2==0:
    print("Even")
else:
    print("Odd")

Enter the number 4

Even

In [10]:
number1=float(input())
number2=float(input())
addition= number1+number2
subtract= number1-number2
div=number1/number2
print(addition)
print(subtract)
if number2==0:
    print("Can't divide by 0")
else:
    print(div)

 8
 4

12.0
4.0
2.0

creating gasing game

In [13]:
word=input()
if 'a' in word:#membership
    print("a is present")
else:
    print("a is not there")

 maria

a is present

In [ ]:
l=[45,20,98,7,65,55]
n=input()
if n in l:
    print("n is present")
else:
    print("n is not present")

In [14]:
for i in range (4,100):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [15]:
# Homework:  
# A more comprehensive example combining concepts
import pandas as pd
import numpy as np

# Create student data
student_data = {
    'Student_ID': range(1, 100),
    'Math': np.random.randint(60, 100, 99),
    'Science': np.random.randint(60, 100, 99),
    'Literature': np.random.randint(60, 100, 99)
}

df = pd.DataFrame(student_data)

In [17]:
df.head(n=4)

   Student_ID  Math  Science  Literature
0           1    85       90          60
1           2    65       86          81
2           3    72       80          89
3           4    79       76          67

In [18]:
df.describe()

       Student_ID       Math    Science  Literature
count   99.000000  99.000000  99.000000   99.000000
mean    50.000000  78.858586  80.303030   79.373737
std     28.722813  11.271248  11.116686   11.562241
min      1.000000  60.000000  60.000000   60.000000
25%     25.500000  69.000000  72.500000   69.500000
50%     50.000000  79.000000  80.000000   81.000000
75%     74.500000  89.000000  89.500000   88.500000
max     99.000000  99.000000  99.000000   99.000000

In [21]:
print("\nMeans")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].mean():.2f}")
print("\nMaximum")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].max():.2f}")
print("\nMinmum")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].min():.2f}")
print("\nStd")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].std():.2f}")

Means
Math:78.86
Science:80.30
Literature:79.37

Maximum
Math:99.00
Science:99.00
Literature:99.00

Minmum
Math:60.00
Science:60.00
Literature:60.00

Std
Math:11.27
Science:11.12
Literature:11.56

In [25]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_universal2.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.1.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.0-cp313-cp313-macosx_11_0_arm64.whl (8.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 633.3 kB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.1-cp313-cp313-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 848.8 kB/s eta 0:00:00a 0:00:01
Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl (65 kB)
Downloading pillow-11.1.0-cp313-cp313-macosx_11_0_arm64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 1.1 MB/s eta 0:00:00a 0:00:010m
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install matplotlib

Requirement already satisfied: matplotlib in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.